@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;300;400;600;700&display=swap");
/* @import url(require("style.css")); */

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
}

web-cli {
    --color: #3442e2;
    --background: rgba(255, 255, 255);
    --color-cmd: rgb(66, 66, 66);
    --color-error: red;
    --color-warning: orange;
    --color-ok: rgb(55, 255, 0);
    --color-border: rgb(175, 175, 175);
}

.light-theme {
    --color: #3442e2;
    --background: rgba(255, 255, 255);
    --color-cmd: rgb(66, 66, 66);
    --color-error: red;
    --color-warning: orange;
    --color-ok: rgb(55, 255, 0);
    --color-border: rgb(175, 175, 175);
}

.dark-theme {
    --color: #8ae234;
    --background: rgba(0, 0, 0, 0.95);
    --color-cmd: #aaa;
    --color-error: red;
    --color-warning: orange;
    --color-ok: #0ff;
    --color-border: #888;
}

.grey-theme {
    --color: #35D7BB;
    --background: #2b2f36;
    --color-cmd: #a0aabf;
    --color-error: rgb(245, 99, 91);
    --color-warning: rgb(253, 190, 72);
    --color-ok: #0ff;
    --color-border: #4A5261;
}

.blue-theme {
    --color: #FFDC00;
    --background: #001f3f;
    --color-cmd: white;
    --color-error: #FF4136;
    --color-warning: #FF851B;
    --color-ok: #01FF70;
    --color-border: #0074D9;
}

/* -----    SVG Icons - svgicons.sparkk.fr  ----- */
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--color);
}

.svg-icon circle {
  stroke: var(--color);
  stroke-width: 1;
}

/* -----    scrollbar  ----- */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color);
}

/* -----    WEBCLI  ----- */
.webcli {
    background: var(--background);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
    border: solid 1px var(--color-border);
    display: flex;
    flex-direction: column;
}

.default-size{
    height: 300px;
}
.md-size{
    height: 50%;
}
.lg-size{
    height: 100%;
}

.webcli-output {
    height: 92%;
    overflow: auto;
}

/*  Input   -----------------------------------------------------*/
.webcli-input {
    position: absolute;
    bottom: 14px;
    left: 0px;
    padding: 0 14px;
    overflow: hidden;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.webcli-input input {
    flex:1;
    background: transparent;
    border: none;
    overflow: hidden;
    outline: none; /*Chrome*/
    color: transparent;
    text-shadow: 0 0 0 var(--color);
    z-index: 2;
}
.webcli-input::-ms-clear {
    display: none;
} /*Clear button in Edge*/
.webcli-input .symbol {
    color: var(--color);
    margin-right: 8px;
}
.copy {
    position: absolute;
    bottom: 14px;
    left: 31px;
    display: flex;
}
.before-cursor {
    color: transparent;
    border-right: 6px;
    z-index: 1;
}
.cursor {
    background: var(--color);
    z-index: 1;
    animation: blink 1s linear 0s infinite;
}

/* Output text   -----------------------------------------------------*/
.webcli-cmd {
    color: var(--color-cmd);
    margin-bottom: 3px;
    margin-top: 3px;
    padding:6px 0px;
}
.webcli-error {
    color: var(--color-error);
    margin-bottom: 0.5rem;
}
.webcli-ok {
    color: var(--color-ok);
    margin-bottom: 0.5rem;
}
.webcli-warning {
    color: var(--color-ok);
    margin-bottom: 0.5rem;
}

/* Table    -----------------------------------------------------*/
.webcli-tbl {
    color: var(--color-cmd);
}
.webcli-tbl td {
    padding: 2px 5px;
}
.webcli-tbl td:first-child {
    padding-left: 0;
}
.webcli-lbl {
    color: #d3d7cf;
}
.webcli-val {
    color: #525753;
}

/*Busy animation    ----------------------------------------------------*/
.webcli-loader {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-top: 2px solid var(--color);
    border-right: 2px solid transparent;
    margin: 4px 0;
    animation: spin 0.6s linear infinite;
}

.deletable-div > .header {
    display:flex;
    justify-content:flex-end;
    margin-bottom:0.5rem;
    margin-top:0.5rem;
}

/* .deletable-divhover {
    border-top: 1px solid var(--color-border);
} */

.delete-btn, .save-btn, .toggle-btn {
    opacity:0;
    color: var(--color-border);
    margin:0px 6px;
    transition:opacity 250ms;
}

.header .title {
    flex-grow:1;
    text-align:left;
    overflow: none;
    text-overflow: ellipsis;
    width:100%;
    color: var(--color-cmd);
}

.header:hover > .delete-btn, .header:hover > .save-btn, .header:hover > .toggle-btn {
    opacity:1;
    cursor:pointer;
}

.content{
    position:relative;
    left:1rem;
    width:90%;
}

hr{
    color:--color-border;
}

@keyframes blink {
    0% {
        background: var(--color);
    }
    50% {
        background: transparent;
    }
    100% {
        background: var(--color);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}